<!DOCTYPE html>
<br><br/>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    
    <div class="page-content">
      <div>
<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image"><a href="#"> <margin-left:30px> <%= image_tag "/assets/profile.jpg", size:"150x150"%></a></div>
          
          <div class="h2 title">Şafak Ferhat Kaya</div>
          <p class="category text-black">Electronic Engineer</p><a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/safakferhatkaya" rel="tooltip" title="Follow me on Github"><i class="fa fa-github"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/safakferhatkaya/" rel="tooltip" title="Follow me on Linkedin"><i class="fa fa-linkedin"></i></a>
          	<a class="btn btn-default btn-round btn-lg btn-icon" href="https://open.spotify.com/user/safakferhatkaya?si=35d27dea05fe4d5f" rel="tooltip" title="Follow me on Spotify"><i class="fa fa-spotify"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>Hi, I'm Şafak Ferhat.</p>
            <p>This is a template cv for I use to introduce myself.. although I am not very experienced in web development, at least I can manipulate the data I have and get used to a language/platform I have just learned and come up with a solution quickly (I hope you think so too). <a href="https://github.com/safakferhatkaya/rubyonrails" target="_blank">Github link of this project</a></p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
              <div class="col-sm-8">22</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
              <div class="col-sm-8">safakferhatkaya@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
              <div class="col-sm-8">+90 553 298 38 77</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
              <div class="col-sm-8">Baha Street, Pendik/Istanbul</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
              <div class="col-sm-8">Turkish, English</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>

    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>July 2021 - October 2021</p>
            <div class="h5">Uzel Tech</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Summer Intern and Full Time Embedded Software Engineer</div>
            <p>Uzel Tech is a company that works on iot and environment monitoring
			systems for data centers and heat and humidity monitoring systems for
			pharmacies.
			<strong>Tasks: </strong>My intern project was a mobile charger that works with RF-ID
			to be used in restaurants and transfers the waiter's credit
			information to the web server. I was responsible for the
			hardware, software and boxing of this project and I
			completed it successfully.
			During my working period, I took part in many tasks such as
			preparing user manuals for products, shooting videos with
			the test software I made, presenting them to customers,
			purchasing, and making cost tables.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>July 2019</p>
            <div class="h5">Arcelik - LG</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Summer Intern</div>
            <p>Arçelik-Lg air conditioner company is a multinational company, but also
				the largest air conditioner production facility in the Turkey and doing a
				R&D internship here has been a great experience for me.
				<strong>Tasks: </strong><CR><LF>
				Research was conducted on voice controlled devices.
				Tests and solutions were made on the electromagnetic
				compatibility problem that prevents a device from working
				stably.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="contact">
  <div class="cc-contact-information">
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <div class="h4 text-center title">Contact Me</div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card-body">
                    <form action="https://formspree.io/safakferhatkaya@gmail.com" method="POST">
                      <div class="p pb-3"><strong>Feel free to contact me </strong></div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                            <input class="form-control" type="text" name="name" placeholder="Name" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                            <input class="form-control" type="text" name="Subject" placeholder="Subject" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control" type="email" name="_replyto" placeholder="E-mail" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="form-group">
                            <textarea class="form-control" name="message" placeholder="Your Message" required="required"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <button class="btn btn-primary" type="submit">Send</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="mb-0"><strong>Address </strong></p>
                    <p class="pb-2">Baha Street, Pendik/Istanbul</p>
                    <p class="mb-0"><strong>Phone</strong></p>
                    <p class="pb-2">+90 553 298 38 77</p>
                    <p class="mb-0"><strong>Email</strong></p>
                    <p>safakferhatkaya@gmail.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
    </div>

      <div class="text-center text-muted">
      	<p>Manipulated by Safak<p/>
        <p>&copy; Creative CV. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a></p>
      </div>
    </footer>
  </body>
</html>