<h1 style="font-family: Courier">Country List...</h1>
	<br></br>
		<p style="font-family : Courier"> Codes of Listed Countries: </p>
	<br></br>
		<%=	@handle_comma_country.map(&:inspect).join(', ') %>
	<br></br>