<h1  style="font-family : Courier">Holiday Lists</h1>
	<body>
		<div>
<p style="float: left;"><%= image_tag "/assets/holidays.PNG", size:"700x450"%>

<p style="font-family : Courier"> <br><br/>
 &emsp;Welcome to the application where countries and their holiday lists can be observed. </p>
<br><br/>
<p style="font-family : Courier">&emsp; Click <strong><%=link_to "here", holidays_path, class: "navlink" %></strong> for holidays of countries.	
<p style="font-family : Courier">&emsp; Click <strong><%=link_to "here", home_about_path, class: "navlink" %></strong> to get to know me.
		</div>
	</body>